*.o
copy_system
file.out
perl
simple_read
copy_block
copy_stdio
printdir
a.out
core
*.user
build-*-Desktop_Qt_5_8_0_GCC_64bit-Debug
client
server
tbd
*.out
*.man
shm1
shm2
client*
server*
*.swp
*.moc
